
}
body {
	 background-image: url(images.jpg);
	background-image:100%;
	backgroung-height:auto;
	background-size:cover;

	 background-repeat: no-repeat;
}

h1{
	font-family:helvetica; 
	text-align: center;
}
#typo {

	font-family: dancing script, cursive;
}
h2 {
	font-family:helvetica; 
	text-align: center;
	color:red;
}
}
