body {
	 background-image: url(images.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
}


h1{
	font-family:dancing script, cursive; 
	text-align: center;
	font-size:5.5em;
}
#typo {

	font-family: helvetica;
}
h2 {
	font-family:dancing script, cursive;
	text-align: center;
	color:red;
}

