@media only screen and(max-width:500px) {
body {
	 background-image: url(images.jpg);
	 background-repeat: no-repeat;
}
h1{
	font-family:helvetica; 
	text-align: center;
}
#typo {

	font-family: dancing script, cursive;
}
h2 {
	font-family:helvetica; 
	text-align: center;
	color:red;
}
}
